<div layout="column" layout-fill>
  <md-toolbar class="md-toolbar-tools">
    <h1>ngInbox</h1>

    <span flex></span>

    <np-google-user-button></np-google-user-button>
  </md-toolbar>

  <md-progress-linear ng-if="$ctrl.loading"></md-progress-linear>

  <md-content flex md-colors="{background: 'grey-100'}">
    <div class="np-inbox_scrollable"
         infinite-scroll="$ctrl.loadMoreThreads()"
         infinite-scroll-container="'np-inbox md-content'">
      <np-threads threads="$ctrl.threads"></np-threads>
    </div>
  </md-content>
</div>
